body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* THEMES */
[data-bs-theme="light"] {
    --bs-body-bg: #f8f9fa;
    --bs-body-color: #212529;
}

[data-bs-theme="dark"] {
    --bs-body-bg: #6c757d;
    --bs-body-color: #ffffff;
}

/* CARD */
[data-bs-theme="light"] .card {
    --bs-card-bg: #f8f9fa;
    --bs-card-color: #212529;
}

[data-bs-theme="dark"] .card {
    --bs-card-bg: #212529;
    --bs-card-color: #ffffff;
}